.profile{
    width: 100%;
    margin-block: 5%;
    height: max(100vh,600px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #ffffff;
}
.profile__container{
    width: min(90%,500px);
}
.profile__title{
    margin-bottom: 1rem;
}

.profile__flex{
    display: flex;
    gap: 1rem;
}

.profile__avatar{
    width: 70px;
}
.profile__right{
    width: 100%;
}
.profile__right > input{
    background-color: lightgray;
    width: 100%;
    border: none;
    padding: 0.5rem 1rem;
}
.profile__plans{
    margin-block:1rem;
}
.profile__plans > p{
    text-transform: capitalize;
    font-weight: 600;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid lightgray;
    margin-bottom: 1rem;
}
.plans{
    margin-block:0.5rem;
}
.planName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block:1rem;
}
.planName > button:hover{
    background-color: #e50914;
    color: #ffffff;
}
.current__plan{
    background-color: #222222;
    color: #ffffff;
}


@media screen and (max-width:500px) {
  .planName > button{
      font-size: 0.75rem;
    }
}
